<div id="createBoard" >
  <div v-on:click="boardView" class="w-16 h-16 bg-gray-500 cursor-pointer">新增看板</div>
</div>

<div class="fixed w-full h-full left-0 top-0  bg-gray-500 opacity-50 flex justify-center items-center">
  <div class="w-4/12 h-56 bg-red-100">

  </div>
</div>



