  <p>{{listMessage}}</p>
  <div @click.stop id="list-group" class="flex">
    <list-view ref="ListView" :total-item="listItem" @update-card="getNewCard"></list-view>
  </div>

  <list-create  ref="ListCreate">
    <%= form_with model:@list, url: board_lists_path(@board),method: "post", id: "listForm" do |list| %>
      <%= list.text_field :title, class: "h-8 w-64 border-black border-solid border-2 rounded" %>
      <div>
        <%= list.submit "é€å‡º" %>
        <i @click="onclick" id="list-cancel" class="fas fa-times"></i>
      </div>
    <% end %>
  </list-create>