<p>{{errorMessage}}</p>

<div @click.stop="onclick" id="view-controller" class="h-full flex overflow-x-scroll">
  <div id="list-group" class="flex">
    <list-view :title="listItem = <%= @lists %>"></list-view>
  </div>

  <list-create ref="ListCreate">
    <%= form_with model:@list, url: list_board_path, id: "test" do |list| %>
      <%= list.text_field :title, class: "h-8 w-64 border-black border-solid border-2 rounded" %>
      <div>
        <%= list.submit "é€å‡º" %>
        <i @click="onclick" id="list-cancel" class="fas fa-times"></i>
      </div>
    <% end %>
  </list-create>
</div>