<p>{{messages}}</p>

<div id="list-group" class="flex">
  <list-view ref="ListView" :total-item="listItem" @update-card="getNewCard" @list-title-update="listTitleUpdate" @delett-card="deleteCard"></list-view>
</div>

<list-create></list-create>

